snippet fn "function"
function ${1:name}() {
	$2
};
endsnippet

snippet => "function with fat arrow" i
($1) => {

};
endsnippet

snippet class "class"
class ${1:name} {
	constructor(${2:args}) {
		${3:${VISUAL}}
	}
};
endsnippet

snippet qs "query selector" i
document.querySelector("${1:${VISUAL}}");

endsnippet

snippet qsa "query selector all" i
document.querySelectorAll("${1:${VISUAL}}");
endsnippet
