snippet doa "do block w/ args" i
do |${1:<element>}|
	${2:${VISUAL}}
end
endsnippet

snippet do "do block" i
do
$1
end
endsnippet

snippet def "def block" i
def ${1:method}
	${2:${VISUAL}}
end
endsnippet

snippet defa "def block w/ args" i
def ${1:method}(${2:*args})
	${3:${VISUAL}}
end
endsnippet
